*{
    margin:0px;
    padding:0px;
}
$tamno-plava:#182e49;
$bela:white;
$aple-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$roboto-font: Roboto,sans-serif;
$fecabook-boja: #3B5998;
$instagram-boja:#125688;
$portfolio-boja:#a4c639;
html {
    scroll-behavior: smooth;
  }
header{
    background-color: $tamno-plava;
    padding:30px 0px 30px 0px;
    border-bottom:1px solid silver;
    .logo{
        background-size: cover;
    }
    .naslov{
        height:73px;
        margin:0px 15px 0px 15px;
        h1{
            color: $bela;
            font-size: 30px;
            font-family: $roboto-font;
            /* font-family: $aple-font; */
            text-align:center ;
        }
    }
    .heder-info{
        font-family: $aple-font;
        color: $bela;
        font-size: 14px;
        p{
            color: $bela;
            font-weight: 700;
            margin-bottom: 0px;
        }
        i{
            color: $bela;
        }
    }
}
#navigacija{
    width: 100%;
    background-color: $tamno-plava;
}
.tamno-plavo{
    background-color: $tamno-plava;
    nav{
        background-color: $tamno-plava  !important;
        ul li a{
            color:$bela !important;
            text-transform: uppercase;
        }
    }
}
.margin-top-50{
    margin-top: 50px;
}
.padding-0{
    padding:0px;
}
.visinaSlajder{
    width: 100%;
    height: auto;
}
.pozadina1{
    background-image: url('../img/slajderPocetni/proba.jpg');
    background-size: cover;
    background-position: center center;
}
.card img{
    padding:5px;
}
.card{
     width: 18rem; 
}
.margin-dole-20{
    margin-bottom: 20px;
}
.senka{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sirina-15-posto{
    width: 15%;
}
.card-text{
    line-height: 1.2;
}
.izdvojeniTelefoni{
    .card:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
.pozadinaAkcijaTelefoni{
    background-image: url('../img/banerTelefoni.webp');
    background-position: center center;
    background-size: cover;
}
.banerTelefoni{
    width: 100%;
}
.sekcijaStaticnaPozadina{
    background-image: url('../img/statikPozadina.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
    .card{
        margin:10px;
        background: rgba(82,91,124,.34);
        color: white;
    }
}
.visinaSLike{
    height:200px ;
    display: flex;
    align-items: center;
}
.slikaBezPozadine{
    width: 60%;
    display: block;
    margin: 0px auto;
}
.slajderDonji{
    display: none;
}

.card-deck{
    margin: 0px auto;
}
.visina-500{
    height: 500px;
    width: 100%;
}
.rounded-circle{
    width: 75px;
    height: 75px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    i{
        color: $tamno-plava;
        font-size: 50px;
    }
}
.sekcijaAutor{
    margin:150px 0px 150px 0px;
}
.w-40{
    width: 40%;
}

.pozadinaAutor{
    background-image: url('../img/autor.jpg');
    background-position: 0px 0px;
    background-size: cover;
    height:410px;
    width: 410px;
    border-radius: 100%
}
.opisAutor{
    width: 900px;   
}
.textAutor p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.padding-30{
    padding:30px;
}
.fejs{
    background-color: $fecabook-boja;
}

.sekcijaKontakt{


    margin-bottom: 100px;
    .container{
        /* background-color: gray; */
        /* height: 400px; */
        margin:0px auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .leva{
            /* background-color: #125688; */
            /* height: 400px; */
            .row{
                /* background-color: red; */
                margin:15px 10px 15px 10px;
                width: 90%;
                .col-12:nth-child(1){
                    font-size: 1.5rem;
                    font-family: $aple-font;
                }
                .col-6{
                    background-color: white;
                }
                .col-6:nth-child(2){
                    padding-left:15px;
                    /* background-color: $portfolio-boja; */
                }
                input[type="text"], input[type="email"]{
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #ced4da;
                    font-size: 1.5rem;
                    font-family: $aple-font;
                }
                textarea{
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #ced4da;
                    font-size: 1.5rem;
                    font-family: $aple-font;
                    padding:24px ;
                }
            }
            .row:last-child{
                .col-12{
                    padding-right: 12px;
                }
            }
        }
        .desna{
            background-color: #103f6d;
            /* height: 400px; */
            .row{
                .margin-top-20{
                    margin-top:20px;
                }
                h3{
                    color: white;
                    margin-bottom: 40px;
                }
                ul{
                    list-style: none;
                    p{
                        color: white;
                        i{
                            color: #6b89a5;
                        }
                    }
                    li{
                        line-height: 1.2;
                    }
                }
            }
            hr{
                color: #6b89a5;
                width: 80%;
                margin:0px auto;
                height: 2px;
            }
            .row:last-child{
                div{
                    a{
                        font-size: 28px;
                        padding:12px;
                        color: #6b89a5;
                    }
                }
            }
            
        }
    }
}
.sekcijaOpisProizvoda{
    margin:15px 0px 75px 0px;
    .lista-spec{
        list-style: none;
        margin-top: 25px;
        li{
            font-size: 12px;
            color: #444;
            font-family: $aple-font;
            margin-bottom: 7px;
        }
        span{
            font-weight: 700;
            margin-right: 5px;
        }
    }
    .dostava-kamion{
        margin-top: 50px;
        padding-left: 2rem;
        h3{
            font-size: 12px;
            font-weight: 600;
        }
        h3 span{
            font-size: 19px;
            margin-left: 5px;
        }
    }
   
}
.padding-15{
    padding:15px;
}
.fa-truck{
    font-size: 19px;
}
.maloprodajnaCena, .usteda{
    font-size: 14px;
    color: #333;
    display: block;
    box-sizing: border-box;
}
.usteda{
    width: auto;
    span{
        padding:1px 3px 1px 3px;
    }
}
.cena{
    span{
        font-size: 48px;
        color: #111;
        font-weight: 400;   
    }
    sup{
        font-size: 30px;
    }
}
.naStanju{
    font-size: 14px;
    .ok{
        padding-left: 16px;
        list-style: none;
        li::before {
            content: "\2022";
            color: #85c14a;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
          }
    }
}
.prodajaNaRate{
    background: #f7f7f7;
    padding: 10px;
}
.okvir{
    border: 1px solid #e4e4e4;
}
.dugmeKupovina{
    margin:70px 0px 15px 0px;
    width: 100%;
}
.sekcijaSpecifikacijeProizvoda{
    margin:25px 0px 50px 0px;
}
#accordion{
    width: 1272px !important;
    table tr td:nth-child(1){
        width: 150px;
        border-right: 1px solid #f2f2f2;
        font-size: 14px;
    }
    table tr td:nth-child(2){
        font-size: 14px;
    }
}
.tabelaDeklaracija{
    tr td:nth-child(1){
        background: #f1f1f1;
    }
}
.kolapsTekst{
    font-size: 25px;
}
.imeProizvodaNaslov2{
    color: #3c3b3b;
    font-weight: 400;
    line-height: 20px;
    font-size: 24px;
}
footer{
    background: #33373f;
}
.naslovImeFirme{
    font-size: 48px;
    font-weight: bold;
    color: $tamno-plava;
} 

.pozadina-siva{
    background-color: lightgray;
}
.sirina-slike{
    width: inherit;
}

.pozadinaSlika1{
    background-image: url('../img/onamaPrva.jpg');
    background-size: cover;
    background-position: center center;
    height: 135px;
}
.pozadinaSlika2{
    background-image: url('../img/onamaDruga.jpg');
    background-size: cover;
    background-position: center center;
    height: 135px;
}
.pozadinaSlika3{
    background-image: url('../img/onamaTreca.jpg');
    background-size: cover;
    background-position: center center;
    height: 135px;
}
.pozadinaSlika4{
    background-image: url('../img/onamaCetvrta.jpg');
    background-size: cover;
    background-position: center center;
    height: 135px;
}
.margin-dole-0{
    margin-bottom: 0px;
}
.margin-top-20{
    margin-top: 20px;
}
.mapa{
    width: 100%;
    height: 450px;
}
.sire-dugme{
    width: 120px;
}
@import "responsive";
